<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
<!--
    <add key="beblavy_photo" value="http://beblavy.blog.sme.sk/bloger/3955/bloger_932.jpg"/>
    <add key="beblavy_smeblog_rss" value="http://beblavy.blog.sme.sk/rss/"/>
    <add key="beblavy_twitter_atom" value="http://search.twitter.com/search.atom?q=from:beblavy&amp;rpp=10"/>

    <add key="sulik_photo" value="http://i.pravda.sk/10/031/skcl/P23318366_sulik.jpg"/>
    <add key="sulik_smeblog_rss" value="http://richardsulik.blog.sme.sk/rss/"/>
    <add key="sulik_fb_atom" value="https://www.facebook.com/feeds/page.php?id=184760561603680&amp;format=atom10"/>

    <add key="fico_photo" value="http://www.topnews.in/files/robert-fico.jpg"/>
    <add key="fico_smeblog_rss" value="http://fico.blog.sme.sk/rss/"/>

    <add key="kanik_photo" value="http://dotankoch.sk/portret/ludovit-kanik"/>
    <add key="kanik_hnonlineblog_rss" value="http://fico.blog.sme.sk/rss/"/>

    <add key="poliacik_photo" value="http://dotankoch.sk/portret/martin-poliacik"/>
    <add key="poliacik_smeblog_rss" value="http://poliacik.blog.sme.sk/rss/"/>
    <add key="poliacik_twitter_atom" value="http://search.twitter.com/search.atom?q=from:martinpoliacik&amp;rpp=10"/>
    
    <add key="slota_photo" value="http://prezidentka.files.wordpress.com/2008/10/jan_slota1.jpg?w=500"/>
    <add key="slota_smeblog_rss" value="http://janslota.blog.sme.sk/rss/"/>    
    
    

    <add key="beblavy_photo" value="../../Content/LocalData/beblavy_photo.jpg"/>
    <add key="beblavy_smeblog_rss" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\beblavy_smeblog_rss.xml"/>
    <add key="beblavy_twitter_atom" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\beblavy_twitter.atom"/>

    <add key="sulik_photo" value="../../Content/LocalData/sulik_photo.jpg"/>
    <add key="sulik_smeblog_rss" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\sulik_smeblog_rss.xml"/>
    <add key="sulik_fb_atom" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\sulik_fb.atom"/>

    <add key="fico_photo" value="../../Content/LocalData/fico_photo.jpg"/>
    <add key="fico_smeblog_rss" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\fico_smeblog_rss.xml"/>

    <add key="kanik_photo" value="../../Content/LocalData/kanik_photo.jpg"/>
    <add key="kanik_hnonlineblog_rss" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\kanik_nhonlineblog_rss.xml"/>    

    <add key="poliacik_photo" value="../../Content/LocalData/poliacik_photo.jpg"/>
    <add key="poliacik_smeblog_rss" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\poliacik_smeblog_rss.xml"/>
    <add key="poliacik_twitter_atom" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\poliacik_twitter.atom"/>
    
    <add key="slota_photo" value="../../Content/LocalData/slota_photo.jpg"/>
    <add key="slota_smeblog_rss" value="file://C:\Users\Administrator\Desktop\VoxPoliticus\VoxPoliticus\Content\LocalData\slota_smeblog_rss.xml"/>




    <add key="beblavy_photo" value="../../Content/LocalData/beblavy_photo.jpg"/>
    <add key="beblavy_smeblog_rss" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\beblavy_smeblog_rss.xml"/>
    <add key="beblavy_twitter_atom" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\beblavy_twitter.atom"/>

    <add key="sulik_photo" value="../../Content/LocalData/sulik_photo.jpg"/>
    <add key="sulik_smeblog_rss" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\sulik_smeblog_rss.xml"/>
    <add key="sulik_fb_atom" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\sulik_fb.atom"/>

    <add key="fico_photo" value="../../Content/LocalData/fico_photo.jpg"/>
    <add key="fico_smeblog_rss" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\fico_smeblog_rss.xml"/>

    <add key="kanik_photo" value="../../Content/LocalData/kanik_photo.jpg"/>
    <add key="kanik_hnonlineblog_rss" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\kanik_nhonlineblog_rss.xml"/>    

    <add key="poliacik_photo" value="../../Content/LocalData/poliacik_photo.jpg"/>
    <add key="poliacik_smeblog_rss" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\poliacik_smeblog_rss.xml"/>
    <add key="poliacik_twitter_atom" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\poliacik_twitter.atom"/>

    <add key="slota_photo" value="../../Content/LocalData/slota_photo.jpg"/>
    <add key="slota_smeblog_rss" value="file://C:\Proj\VoxPoliticus\VoxPoliticus\Content\LocalData\slota_smeblog_rss.xml"/>

-->


    <add key="beblavy_photo" value="../../Content/LocalData/beblavy_photo.jpg"/>
    <add key="beblavy_smeblog_rss" value="http://beblavy.blog.sme.sk/rss/"/>
    <add key="beblavy_twitter_atom" value="http://search.twitter.com/search.atom?q=from:beblavy&amp;rpp=10"/>

    <add key="sulik_photo" value="../../Content/LocalData/sulik_photo.jpg"/>
    <add key="sulik_smeblog_rss" value="http://richardsulik.blog.sme.sk/rss/"/>
    <add key="sulik_fb_atom" value="https://www.facebook.com/feeds/page.php?id=184760561603680&amp;format=atom10"/>

    <add key="fico_photo" value="../../Content/LocalData/fico_photo.jpg"/>
    <add key="fico_smeblog_rss" value="http://fico.blog.sme.sk/rss/"/>

    <add key="kanik_photo" value="../../Content/LocalData/kanik_photo.jpg"/>
    <add key="kanik_hnonlineblog_rss" value="http://fico.blog.sme.sk/rss/"/>

    <add key="poliacik_photo" value="../../Content/LocalData/poliacik_photo.jpg"/>
    <add key="poliacik_smeblog_rss" value="http://poliacik.blog.sme.sk/rss/"/>
    <add key="poliacik_twitter_atom" value="http://search.twitter.com/search.atom?q=from:martinpoliacik&amp;rpp=10"/>

    <add key="slota_photo" value="../../Content/LocalData/slota_photo.jpg"/>
    <add key="slota_smeblog_rss" value="http://janslota.blog.sme.sk/rss/"/>
    

    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <facebookSettings appId="305156506181930" appSecret="8735e50be7072922a15e04555ce55d68" />
</configuration>